@inherits LayoutComponentBase


<div class="main">
    <AuthorizeView>
        <Authorized>
            <NavMenu />
        </Authorized>
        <NotAuthorized>
            <div class="top-row px-4 auth">
                <LoginDisplay />
            </div>
        </NotAuthorized>
    </AuthorizeView>

        <div class="content px-4">
            @Body
        </div>

        <FitnessFad.UI.Shared.Modals.InformationModal />
        <FitnessFad.UI.Shared.Modals.ProfileSettings />
</div>
